<script type="text/javascript">
	var colomatduration = 'fast';
	var colomatslideEffect = 'slideFade';
</script>

<script type="text/javascript">
	var get_sizes = null;
						(function($){
			get_sizes = function(id){
				var sizes;
				$.ajax({
					async: false,
					data: {
						action: "flickr-gallery-sizes",
						id: id
					},
					dataType: "json",
					type: "POST",
					url: "http://ch.itu.edu/",
					success: function(rsp) {
						sizes = rsp;
					}
				});
				return sizes;
			};
		})(jQuery);
</script>

<body class="home page page-id-548 page-template page-template-front-page-itu-php">
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24309155-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>                 
<div id="container" class="hfeed">
	   <%=render "layouts/header"%>
	   <div id="featured" class="grid col-960 frontwrapper">
		   <div id="soliloquy-container-471" class="soliloquy-container soliloquy-fade soliloquy-preloader" style="max-width: 960px; max-height: 400px; ">
			   <div id="soliloquy-471" class="soliloquy"><ul id="soliloquy-list-471" class="soliloquy-slides">
				   <li id="soliloquy-471-item-1" 
				   	class="soliloquy-item" style="width: 100%; float: left; margin-right: -100%; position: relative; display: none;">
					   <a href="/" title="">
						  <%=image_tag "movelogo1.png"%>
					  </a>
				  </li>
				  <li id="soliloquy-471-item-2" 
				  class="soliloquy-item soliloquy-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; display: list-item;">
					  <a href="/" title="pku vlab">
						  <%=image_tag "movelogo2.png"%>
					  </a>
				  </li>
			  </ul>
		  </div>
	  </div>
	</div>
  
	    <div id="widgets" class="home-widgets">
	        <div class="grid col-240">
	                <h3 style="background-color: #65C5F9; padding: 10px; color:  #000; margin-bottom: 0px;">通知</h3>
                    
				<div id="rpwe_widget-3" class="widget-wrapper rpwe_widget recent-posts-extended">
			<div class="rpwe-block">
			
				<ul>
					<%Info.all.each do |info|%>
					<li class="rpwe-clearfix">
						<h3 class="rpwe-title">
							<%=link_to info.title, info_path(info)%>
						</h3>
						<span class="rpwe-time"><%=time_ago_in_words info.created_at%></span>
						<div class="rpwe-summary">
							<%=info.plain_content%>
						</div>
					</li>
					<%end%>
					<%=link_to "查看更多", infos_path%>
				</ul>
			</div><!-- .rpwe-block - http://wordpress.org/extend/plugins/recent-posts-widget-extended/ -->
		</div>            
	   </div><!-- end of .col-300 fit -->

        <div class="grid col-240">
        <h3 style="background-color: #108DDF; padding: 10px; color:  #FFF;font-weight: 700; margin-bottom: 0px;">
			最新成果展示	
		</h3>
		<div id="rpwe_widget-2" class="widget-wrapper rpwe_widget recent-posts-extended">
		<div class="rpwe-block">
			<ul>
				<%Achievement.all.each do |achievement|%>
					<li class="rpwe-clearfix">
						<h3 class="rpwe-title">
							<%=link_to achievement.title, achievement_path(achievement)%>
						</h3>
						<span class="rpwe-time"><%=time_ago_in_words achievement.created_at%></span>
						<div class="rpwe-summary"><%=achievement.plain_content%></div>
					</li>
				<%end%>
				<%=link_to "查看更多", achievements_path%>
			</ul>

		</div><!-- .rpwe-block - http://wordpress.org/extend/plugins/recent-posts-widget-extended/ -->

		</div>            
                </div><!-- end of .col-300 -->
		

        <div class="grid col-240">
        <h3 style="background-color: #65C5F9; padding: 10px; color:  #000; margin-bottom: 0px;">国际行业资讯</h3>
			<div id="rpwe_widget-3" class="widget-wrapper rpwe_widget recent-posts-extended">
		<div class="rpwe-block">
			<ul>
				<%Refer.all.each do |refer|%>
					<li class="rpwe-clearfix">
					<h3 class="rpwe-title">
						<%=link_to refer.title, refer_path(refer) %>
					</h3>
					<span class="rpwe-time"><%=time_ago_in_words refer.created_at%></span>
					<div class="rpwe-summary">
						<%=refer.plain_content%>
					</div>
					</li>
				<%end%>
				<%=link_to "查看更多", refers_path%>
			</ul>
		</div><!-- .rpwe-block - http://wordpress.org/extend/plugins/recent-posts-widget-extended/ -->
		</div>            
      </div><!-- end of .col-300 fit -->
	  
      <div class="grid col-240 fit">
      <h3 style="background-color: #108DDF; padding: 10px; color:  #FFF;font-weight: 700; margin-bottom: 0px;">新闻</h3>
		<div id="rpwe_widget-3" class="widget-wrapper rpwe_widget recent-posts-extended">
	<div class="rpwe-block">
		<ul>
			<%News.all.each do |news|%>
				<li class="rpwe-clearfix">
				<h3 class="rpwe-title">
					<%=link_to news.title, news_path(news) %>
				</h3>
				<span class="rpwe-time"><%=time_ago_in_words news.created_at%></span>
				<div class="rpwe-summary">
					<%=news.plain_content%>
				</div>
				</li>
			<%end%>
			<%=link_to "查看更多", news_index_path%>
		</ul>
	</div><!-- .rpwe-block - http://wordpress.org/extend/plugins/recent-posts-widget-extended/ -->
	</div>            
    </div><!-- end of .col-300 fit -->
    </div><!-- end of #widgets -->
	<script type="text/javascript">
jQuery('#applicants-home select[name=00Ni0000005aQR4]').change(function(e){
  if (jQuery('#applicants-home select[name=00Ni0000005aQR4]').val() == 'Change of Status [Other Visa Type to F1]'){
    jQuery("select[name=00Ni0000005bBNB]").attr('required','');
      jQuery('#cos-home').fadeIn(300, function(){
      	jQuery('#cos-home').show();
      	/*jQuery('#addbgc').addClass( "bgc-home-form" );
      	jQuery('#addbgc').addClass( "text-color-onForm" );*/
      });
  }else{
    jQuery("select[name=00Ni0000005bBNB]").removeAttr('required','');
  	  jQuery('#cos-home').fadeOut(100, function(){
  	  	jQuery('#cos-home').hide();
  	  	/*jQuery('#addbgc').removeClass( "bgc-home-form" );
      	jQuery('#addbgc').removeClass( "text-color-onForm" );*/
      });
  }
});
</script>
		    </div><!-- end of #wrapper -->
    <!-- end of #container -->
		<script type="text/javascript">
				(function($){
					$(function(){
						$("img.flickr.square,img.flickr.thumbnail,img.flickr.small").flightbox({size_callback: get_sizes});
					});
				})(jQuery);
			</script>
				<script type="text/javascript">jQuery(window).load(function(){jQuery('#soliloquy-471').flexslider({animation:'fade',slideshowSpeed:7000,animationDuration:600,controlsContainer:'#soliloquy-container-471',namespace:'soliloquy-',selector:'.soliloquy-slides > li',useCSS:false});});</script>
				
</body>